export(
	makePoly,
	fdDeriv,
	anDerivPoly,
	cleanTrials,
	setMaxLat,
	peakPick,
	iterate,
	makeStart,
	calcSolution,
	swaleEEG,
	plotSingleTrials,
	plotSolution,
	eeg.plot,
	lowpass,
	detrend,
	demean,
	s2t,
	estimateSNR,
	interval2Hz,
	hz2interval,
	simulateEEGsignal,
	makeNoise,
	calculateSNR,
	plotAmpLat,
	estimate.f,
	average.f,
	split.f.window,
	split.f.one,
	split.f.fix,
	estimate.ab,
	model,
	rss,
	aic
)

exportPattern("^[\\.]")

exportClasses(
	version,
	basis,
	eeg.data,
	swale.internal,
	swale.solution,
	control
)

exportMethods(
	plot,
	show
)